In [25]:
import pandas as pd
from pathlib import Path

In [26]:
datadir = Path("../data/")
etccdi_presentf = datadir / "Climate"/ "ISEA3H09_CCSM4_Y1950_Y2000_ETCCDI_IDW1N10.txt"

# Exploring the ETCCDI climate variables

These variables weere derived by aggregating ETCCDI variables of the CCSM4 grid cells into ISEA3H09. The interpolation method was  IDWIN with 10 nearest CCSM4 grid cells to the ISEA3H09 hexagon centroids.

## I. Exploring the 1950-2000 data

In [27]:
present = pd.read_csv(etccdi_presentf, sep="\t")

In [28]:
present.sample(5)

,HID,CDD_IDW1N10,CSDI_IDW1N10,CWD_IDW1N10,DTR_IDW1N10,FD_IDW1N10,GSL_IDW1N10,ID_IDW1N10,PRCPTOT_IDW1N10,R10MM_IDW1N10,...,TN10P_IDW1N10,TN90P_IDW1N10,TNN_IDW1N10,TNX_IDW1N10,TR_IDW1N10,TX10P_IDW1N10,TX90P_IDW1N10,TXN_IDW1N10,TXX_IDW1N10,WSDI_IDW1N10
81734,81735,27.664624,3.262892,12.870716,10.922097,118.796364,255.730498,10.50885,1125.200181,33.507207,...,9.698234,11.242286,-16.065793,23.932835,54.792482,9.563101,11.138396,-5.185061,36.087559,4.802813
56441,56442,95.674346,4.808757,43.111874,8.662661,0.000000,365.000000,0.00000,1359.965209,52.410779,...,10.063856,10.684841,11.294208,21.198828,21.932657,10.752464,10.173037,19.391164,31.997145,8.594648
184065,184066,19.820124,9.088501,41.642678,0.616695,0.000000,365.000000,0.00000,2398.785116,77.610394,...,9.327830,10.565969,25.504330,28.714279,365.000000,9.178455,10.646740,26.158815,29.240715,11.457848
67164,67165,21.471117,5.896616,31.709791,0.639919,0.000000,365.000000,0.00000,2024.586922,65.549738,...,10.260741,12.181133,25.720785,28.841233,365.000000,10.122506,12.513685,26.327852,29.401973,12.155348
37856,37857,107.984699,5.518858,36.057830,9.931411,0.000000,365.000000,0.00000,1333.421318,41.268396,...,10.948224,11.509514,12.332094,27.875516,282.672713,10.617934,11.988600,22.228497,41.151057,15.266928

In [29]:
present.drop(["HID"],axis=1).describe()

,CDD_IDW1N10,CSDI_IDW1N10,CWD_IDW1N10,DTR_IDW1N10,FD_IDW1N10,GSL_IDW1N10,ID_IDW1N10,PRCPTOT_IDW1N10,R10MM_IDW1N10,R1MM_IDW1N10,...,TN10P_IDW1N10,TN90P_IDW1N10,TNN_IDW1N10,TNX_IDW1N10,TR_IDW1N10,TX10P_IDW1N10,TX90P_IDW1N10,TXN_IDW1N10,TXX_IDW1N10,WSDI_IDW1N10
count,196832.000000,196832.000000,196832.000000,196832.000000,196832.000000,196832.000000,196832.000000,196832.000000,196832.000000,196832.000000,...,196832.000000,196832.000000,196832.000000,196832.000000,196832.000000,196832.000000,196832.000000,196832.000000,196832.000000,196832.000000
mean,53.461916,5.921488,19.448150,3.913968,66.152896,283.407494,49.761787,1027.460573,28.711493,154.435523,...,10.170603,11.166394,1.226858,20.310472,159.527339,10.198060,11.146702,4.758275,24.631820,8.267821
std,120.135759,3.414841,16.634862,3.965489,119.556650,136.089634,105.124877,740.698730,26.403323,74.932983,...,0.658983,0.724655,23.936553,10.356050,156.289682,0.653036,0.753927,22.663115,11.696714,5.638105
min,4.009007,0.067093,0.042284,0.407698,0.000000,0.000000,0.000000,0.055981,0.000000,0.042284,...,7.797225,8.633949,-74.617955,-30.565328,0.000000,8.091539,8.599853,-72.497892,-25.841064,0.022317
25%,13.973389,3.384982,8.654831,0.669764,0.000000,223.528982,0.000000,487.364333,8.249519,104.463420,...,9.750012,10.688299,-9.019107,16.460489,0.014944,9.801452,10.638720,-4.050492,20.446503,4.176016
50%,23.761283,5.672391,13.472844,1.979585,0.000000,365.000000,0.000000,951.884730,22.361179,155.981161,...,10.141659,11.115011,9.166234,24.193069,113.964472,10.168131,11.054468,13.112167,27.765465,7.481039
75%,53.208218,7.945608,25.749495,6.539862,72.862497,365.000000,12.526608,1349.030337,40.499057,208.386895,...,10.540513,11.598794,20.429288,27.705534,361.674213,10.574305,11.588533,22.460634,30.087498,11.377216
max,11719.647151,22.658614,192.748037,15.882537,365.000000,365.000000,365.000000,6041.701696,197.288133,340.268278,...,13.330696,15.019223,26.222249,36.102259,365.000000,13.138606,14.961791,27.597581,51.419834,34.264405

In [30]:
present.isnull().values.any()

False